.idea
__pycache__

src/CSharpEngine/.vscode/
src/CSharpEngine/.vs/
src/CSharpEngine/CSharpEngine.Tests/obj/*
src/CSharpEngine/bin/*
src/CSharpEngine/obj/*

src/Synthesizer/.vs/
src/Synthesizer/bin/*
src/Synthesizer/obj/*

src/.vs
.vs/*

src/miner/*.pyc
src/miner/venv

benchmark/*/library/
benchmark/*/client/
